:root {
  --header-height: 10dvh;
}

html {
  touch-action: manipulation;
  height: 100dvh;
  width: 100dvw;
}

body {
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
