:root {
  --header-height: 10dvh;
  --test-footer-height: 12dvh;
}

html {
  touch-action: manipulation;
  height: 100dvh;
  width: 100dvw;
}

body {
  min-height: 100dvh;
  min-width: 100dvw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > #root > div {
  height: 100dvh;
  width: 100dvw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
