/* #root {
  height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {

  height: -webkit-fill-available;
}

body {
  overflow: auto;
  height: 100dvh;
  height: -webkit-fill-available;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

html,
body,
#app,
#app > #root > div {
  --header-height: 10dvh;
  height: 100dvh;
  --footer-height: 10dvh;
  touch-action: manipulation;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
